@import "./mixin";

/* projects */

.pro {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  gap: 11rem;
}

.pro__img {
  width: 50%;
  height: 40rem;
}

.pros_p {
  height: fit-content;
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-medium);
}

.pro__content {
 @include displayFlex($gap:2rem)
}

.pros__link {
  display: inline-block;
  margin-right: 3rem;
  color: var(--color-dark-blue);
  font-weight: var(--font-weight-medium);
}

.link__arrow {
  width: 1.5rem;
  color: var(--color-dark-blue);
}
/* projects End */